* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(images/bg.jpg);
  font-family: 'Bitter', serif;
  font-size: 14px;
  color: #7a7a7a;
}

main {
  width: 1020px;
  margin: auto;
  background-color: white;
}

.nav1 {
  height: 60px;
  background-color: black;
}

.nav1 ul {
  text-align: center;
}

.nav1 ul li {
  display: inline-block;
  margin-left: 35px;
  margin-top: 20px;
  font-size: 18px;
}

.nav1 ul li a {
  color: white;
  text-decoration: none;
  font-family: Josefin sans;
}

.nav1 ul li a:focus {
  color: #cfa205;
}

header {
  height: 320px;
  background-color: black;
  text-align: center;
  padding-top: 60px;
}

header h1 {
  color: #cfa205;
  font-size: 133px;
  font-weight: 400;
  font-family: Josefin sans;
}

header h3 {
  color: #cfa205;
  font-size: 18px;
  margin-top: 70px;
}

header h3 .fa-circle {
  font-size: 7px;
  color: #cfa205;
  vertical-align: top;
  margin-top: 7px;
}

span {
  font-size: 15px;

}
.nav2 {
  height: 60px;
  background-color: #e8e8e8;
}

.nav2 ul{
  text-align: center;
}

.nav2 ul li {
  display: inline-block;
  margin-top: 13px;

}

i {
  color: #9E9E9E;
}

#section1 {
  width: 900px;
  height: 90px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  border-bottom: 1px solid #e8e8e8;
}

.bold {
  font-weight: bold;
}


#section2 {
  width: 900px;
  height: 520px;
  margin: auto;
  margin-top: 40px;
}

article {
  display: inline-block;
  width: 29%;
}

#article_2 {
  margin-left: 55px;
  margin-right: 55px;
}

.second_titre {
  color: black;
  font-size: 18px;
  margin: 30px 0px 30px 0px;
}
